.title {
    font-size: 450px;
    color: #ffffff;
}



.subtitle {
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 30%;
    font-family: 'ChosunSm'
}

.main { 
 font-family: 'ChosunSm';
 color: #c4c4c4;
 line-height: 215%;
}

body {
    background:#000000;
    display:block;
    margin:0;
    padding-left: 7%;
    padding-top: 4%;
    padding-bottom: 7%;
    padding-right: 7%;
    justify-content: left;
  }

  @keyframes jitter {
    0% { transform: translate(0, 0); opacity: 1; }
    10% { transform: translate(-1px, 1px); opacity: 0.8; }
    20% { transform: translate(1px, -1px); opacity: 0.6; }
    30% { transform: translate(-1px, 1px); opacity: 0.7; }
    40% { transform: translate(1px, -1px); opacity: 0.9; }
    50% { transform: translate(-1px, 1px); opacity: 0.5; }
    60% { transform: translate(1px, -1px); opacity: 0.7; }
    70% { transform: translate(-1px, 1px); opacity: 0.8; }
    80% { transform: translate(1px, -1px); opacity: 0.6; }
    90% { transform: translate(-1px, 1px); opacity: 0.9; }
    100% { transform: translate(0, 0); opacity: 1; }
  }
  
  #jitter-element {
    animation: jitter 0.1s infinite;
  }
  

  @font-face {
    font-family: 'ChosunSm';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#news:hover {
  color: #ff6600;
  transition: 0.3s;
}

#news {
  color: #ffffff;
  font-size: 40px;
  font-family: 'ChosunSm';
  font-weight: bold;
  animation: color-blink 1s infinite;
}

#animated-image1 {
  animation: blink1 1s infinite;
}

#animated-image2 {
  animation: blink2 0.6s infinite;
}

#animated-image3 {
  animation: blink3 0.7s infinite;
}

.container {
  align-content: center;
}

@keyframes blink1 {
  0%, 20%, 50%, 80%, 100% { visibility: visible; }
  10%, 30%, 40%, 70%, 90% { visibility: hidden; }
}

@keyframes blink2 {
  0%, 100% { visibility: visible; }
  50%, 60% { visibility: hidden; }
}

@keyframes blink3 {
  0%, 100% { visibility: visible; }
  20%, 40% { visibility: hidden; }
}

html{
  cursor: url(cursor.png), default
}

@keyframes color-blink {
  0%, 20%, 50%, 80%, 100% { color: #ff7700; }
  10%, 30%, 40%, 70%, 90% { color: #ffffff; }
}

#button {
  background:none;
  color:#ffffff;
  height:80px; 
  width:260px;
  border:none;
  animation: jitter 0.1s infinite;
  font-size: 30pt;
  font-weight: bold;
}

#button:hover {
  color: #ff7700;
}
